{% extends "master.html" %}
{% block title %}Dress Me!{% endblock %}

{% block content %}
<div class="container">
  <header>
	  <h1>DressMe!</h1>
  </header>
  <h4>Upload an image of a dress and I will find where to buy it</h4>

  <div class="row">
	<form method="post" action="{{ url_for('match_item') }}" enctype="multipart/form-data">
	  <input type="file" name="query" placeholder="Upload photo"/>
	  <button type="submit" class="btn btn-primary" name="push">
		Upload &nbsp;<i class="fa fa-upload"></i>
	  </button>
	</form>
  </div>


</div>
{% endblock %}
