{% extends "master.html" %}
{% block title %} | Additional Title Info{% endblock %}
{% block content %}
    <div>
      <h2>Your Dress</h2>
      <img src="{{ filepath }}" style="width: 100px;"/>
    </div>

    <div>
      <h2>Best Matches</h2>
      <h4>Click on a dress to shop!<h4>
      {% for match in matches %}
      <a href="{{ match.detail_url }}" title="{{ match.probability }}">
        <img src="{{ match.image_url_high_res }}" style="width: 250px"/>
      </a>
      {% endfor %}


    </div>
{% endblock %}
